<h4 class="text-center">Atividade LPWSD</h4><br>
<div class="w3-bar w3-blue w3-round-xxlarge">
  <a routerLink="/home" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Home</a>
  <a routerLink="/usuario" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Usuario</a>
  <a routerLink="/questao" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Questao</a>
  <a routerLink="/prova" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Prova</a>
  <a routerLink="/resultado" class="w3-bar-item w3-button w3-mobile w3-hover-teal">Resultado</a>
</div>
<router-outlet></router-outlet>
